@media (min-width: 1250px){
    .container {
        width: 100%;
        
    }
    
    .found-image img{
        min-height: 450px;
    }
    
    }
    
    @media (min-width: 992px) and (max-width: 1249px) {	
    .contain-right-article
    {
        padding-left: 0px;
    }
    .container {
            width: 100%;
        }	
    .image-show-left-cam img{
        width: 100%;
        max-width: 100%;
        }
    .width-50{
        width: 50%
        }
    .list-cat-found{
        padding-right: 0px;
    }
    .text-cam{
        margin-top: 40px;
        padding-top: 15px;
    }
        .portfolio-box { width: 205px; }	
        .testimonial-list .testimonial-image { width: 12%; }
        .testimonial-list .testimonial-text { width: 88%; }	
        .lSSlide{
            height: auto;
        }
        .hide-w-res{
            display: none;
        }
        
        
    .w-60-res{
        width: 60%;
        
        float: right;
        padding: 0px;
    }
    .w-40-res{
        width: 20%;
        margin-left:5px;
        float: left;
    }
    .list-news{
        margin-top: 10px;
        width: 100%;
    }
    .form-box{	
        min-height: 500px;
    }
    .result-per-month
    {
        font-size: 60px;
    }
    .margin-z h4.found-property{
        font-size: 20px;
    }
    .pro-room ul li{
        width: 50%;
        }
    .project-logo{
            
        }
    .text-ass{
        margin-top: 0px;
    }
    }
    
    
    @media (min-width: 768px) and (max-width: 991px){
        .act-title-left, .act-title-left a{
            margin-top: -16px;
            float: right;
            margin-right: -15px;
        }
    .search-sp{
        height: 75px;
    }
    .dropdown-menu{
        left: 100%;	
        margin-left: -250px;
        width: 255px;
    }	
    .search-drop{
        float: right;
        margin-top: -30px;
    }	
    .contain-right-article
    {
        padding-left: 0px;
    }
    .text-ass{
        margin-top: 0px;
    }
    .home-news{
            width: 100%;
        }
    .list-cat-found{
        padding-right: 0px;
    }
    .project-logo{
            padding-right: 0px;
        }
    .lang{
        display: none;
        }
    .combine-right-cam{
        padding-top: 10px;
    }
    .image-show-left-cam img{
        width: 100%;
        max-width: 100%;
        }
    .width-50{
        width: 50%
        }
    .text-cam{
        margin-top: 0px;
        padding-top: 15px;	
        min-height:418px;
    }
    .image-show-left{
            margin-top: 45px;
        }
        .container {
            width: 100%;
        }	
        .top-menu-right{
            padding-right: 5px;
        }
        .combine-number{
            min-height: 300px;
        }
        .background-screen{
            min-height: 471px;
        }
        .lower-768{
            margin-top: 195px;
        }
        .navbar>.container .navbar-brand { margin-left: 15px; }
        .navbar-collapse { border: 0; }
        .navbar-toggle { margin-top: 16px; }
        /*-------------Home------------------------------*/
        .find-property{
            font-size: 60px;
        }
        .image-show-left{
            width: 100%;
            float: none;		
        }
        .up-margin{
            
            margin-top: 0px;
            clear: both;
            width: 100%;
        }
        .combine-right{
            margin-left: 10%;
        }
        
        .start-article{
            margin-left: 0px; 
            
        }
    .contain-fit{
            clear: both;
        float: none;
        margin-top: 360px;
        }
        .mark-up-style{
            background: none;
        }
        .show-up{
        width: 100%;
        }
        .combine-right{
        margin-top: 0px;
        }
        .width-res{
        min-height: inherit;
        }
        .map-canvas{
            
            
            height: 450px!important;
        }
    .lSSlide{
            height: auto;
        }
        /*-------------end------------------------------*/
    .show-up-map{
        margin-top: 400px;
        }
    .pop-up-pro{
            font-size: 50px;
        }
        .pop-up-social{
            float: none;
            margin-top: 0px;
        }
        .loan-result{
        min-height: inherit;
        }
    .padding-z{
        margin-top: 225px;
        }
        .text-top,.project-size{
            margin-top: 0px;
        }
    .contact-left,.contact-right
    {
        margin-top: 0px;
        padding: 25px;
    }
    .hide-w-res{
        display: none;
    }
    .w-60-res{
        width: 60%;
        padding: 0px;
        float: right;
    }
    .w-40-res{
        width: 30%;
        padding: 0px;
        float: left;
        margin-left: 5px;
    }
    .found-image img{
        min-height: 500px;
    }
    .no-margin-180{
        margin-top: 0px;
    }
    .margin-z{
        margin-top: 0px;
        }
        
    .list-news{
        margin-top: 10px;
        width: 100%;
    }
    .social-icon a.link-social{
    
    }
    .form-box{	
        min-height: 500px;
    }
    .result-per-month
    {
        font-size: 60px;
    }
    .margin-z h4
    {
        font-size: 40px;
        padding-left: 10px;	
        margin-bottom: 25px;
    }
    .margin-z h4.found-property{
        font-size: 20px;
    }
    .form-widht{
        width: 100%;
    }
    .pro-room ul li{
        width: 100%;
        }
    }
    
    @media (min-width: 400px) and (max-width: 767px) {
        .act-title-left, .act-title-left a{
            margin-top: -16px;
        float: right;
        margin-right: -15px;
        }
    .search-sp{
        height: 75px;
    }
    .dropdown-menu{
        left: 100%;	
        margin-left: -250px;
        width: 255px;
    }	
    .search-drop{
        float: right;
        margin-top: -30px;
    }	
    .contain-right-article
    {
        padding-left: 0px;
    }
    .text-ass{
        margin-top: 0px;
    }
    .home-news{
            width: 100%;
        }
    .list-cat-found{
        padding-right: 0px;
    }
        .project-logo{
            padding-right: 0px;
        }	
        .pro-room ul li{
        width: 100%;
        }
    .lang{
        display: none;
        }
    .combine-right-cam{
        padding-top: 10px;
    }
    .image-show-left-cam img{
        width: 100%;
        max-width: 100%;
        }
    .text-cam{
        margin-top: 0px;
        padding-top: 15px;
    }
        .image-show-left{
            margin-top: 45px;
        }
    .margin-z h4
    {
        font-size: 40px;
        padding-left: 10px;	
        margin-bottom: 25px;
    }
    .margin-z h4.found-property{
        font-size: 20px;
    }
    .form-widht{
        width: 100%;
    }
    .top-menu-right{
            padding-right: 5px;
        }
    .combine-number{
            min-height: 300px;
        }
        /*-------------Home------------------------------*/
    .no-margin-180{
        margin-top: 0px;
    }
    .list-news{
        margin-top: 10px;
        width: 100%;
    }
        .flex-caption { display: none; }
        .find-property{
            font-size: 50px;
        }
    
        .background-screen{
            min-height: 471px;
        }
        .container {
            width: 100%;
        }
        
        .lower-768{
            margin-top: 195px;
        }
        
        .contain-right-title{
            font-size: 40px;
        }
        .contain-fit{
            clear: both;
        float: none;
        margin-top: 360px;
        }
        .mark-up-style{
            background: none;
        }
        .link-size
        {
            width: 100%;
            margin-top: 10px;
        }
    .combine-right{
        margin-top: 0px;
        }
    .width-res{
        min-height: inherit;
        }
        /*-------------end------------------------------*/
    .lSSlide{
            height: auto;
        }
    .show-up-map{
        margin-top: 400px;
        }
        .pop-up-pro{
            font-size: 50px;
        }
        .pop-up-social{
            float: none;
            margin-top: 0px;
        }
        
    .found-image img{
        min-height: 420px;
    }
    .loan-result{
        min-height: inherit;
        }
        
    .map-canvas{
            
        height: 450px!important;
        }
        
        .padding-z{
        margin-top: 225px;
        }
    .text-top,.project-size{
            margin-top: 0px;
        }
    .contact-left,.contact-right
    {
        margin-top: 0px;
        float: none;
        width: 100%;
        padding-top: 20px;
    }
    .hide-w-res{
        display: none;
    }
    .w-60-res{
        width: 60%;
        padding: 0px;
        float: right;
    }
    .w-40-res{
        width: 30%;
        padding: 0px;
        float: left;
        margin-left: 5px;	
    }
    .top-contain{
        width: 100%;	
    }
    .phone-text{
            
    }
    .project-background img{
            max-height: 500px;
        }
    .margin-z{
        margin-top: 0px;
        }
        .social-icon a.link-social{
        
        }	
    .form-box{	
        min-height: 500px;
    }
    .result-per-month
    {
        font-size: 60px;
    }
    .footer-copyright p{
        text-align: left;
    }
        
    }
    
    @media (max-width: 400px){
        
        .act-title-left, .act-title-left a{
            margin-top: -16px;
        float: right;
        margin-right: -15px;
        }
    .search-sp{
        height: 75px;
    }	
    .dropdown-menu{
        left: 100%;	
        margin-left: -250px;	
        width: 255px;
    }
    .search-drop{
        float: right;
        margin-top: -30px;
    }	
    .contain-right-article
    {
        padding-left: 0px;
    }
        .home-news{
            width: 100%;
        }
        
    .list-cat-found{
        padding-right: 0px;
    }
    .lang{
        display: none;
        }
    .combine-right-cam{
        padding-top: 10px;
    }
    .image-show-left-cam img{
        width: 100%;
        max-width: 100%;
        }
        
    .text-cam{
        margin-top: 0px;
        padding-top: 15px;
    }
    .margin-z h4
    {
        font-size: 40px;
        padding-left: 10px;	
        margin-bottom: 25px;	
    }
    .margin-z h4.found-property{
        font-size: 20px;
    }
    .form-widht{
        width: 100%;
    }
    .top-menu-right{
            padding-right: 5px;
        }
    .combine-number{
            min-height: 300px;
        }
    .no-margin-180{
        margin-top: 0px;
    }
    .form-box{	
        min-height: 500px;
    }
    .result-per-month
    {
        font-size: 60px;
    }
    .social-icon a.link-social{
        
        }
    .list-news{
        margin-top: 10px;
        width: 100%;
    }
        
        .project-background img{
            max-height: 500px;
        }
        .phone-text{
        
        }
        .flex-caption { display: none; }
        .find-property{
            font-size: 40px;
        }
    
        .background-screen{
            min-height: 471px;
        }
        
        .container {
            width: 100%;
        }
        
        .lower-768{
            margin-top: 205px;
        }
        /*-------------Home------------------------------*/
        .flex-caption { display: none; }
        .find-property{
            font-size: 45px;
        }
    
        .background-screen{
            min-height: 471px;
        }
        .container {
            width: 100%;
        }
        .padding-z{
        margin-top: 225px;
        }
        
        .lower-768{
            margin-top: 195px;
        }
        .margin-z{
        margin-top: 0px;
        }
        .contain-right-title{
            font-size: 30px;
        }
        .contain-fit{
            clear: both;
        float: none;
        margin-top: 360px;
        }
        .mark-up-style{
            background: none;
        }
        .link-size
        {
            width: 100%;
            margin-top: 10px;
        }
    .combine-right{
        margin-top: 0px;
        }
    .lSSlide{
            height: auto;
        }
    .width-res{
        min-height: inherit;
        }
        /*-------------end------------------------------*/
        .show-up-map{
        margin-top: 400px;
        }
        
        .pop-up-pro{
            font-size: 50px;
        }
        .pop-up-social{
            float: none;
            margin-top: 0px;
        }
        
    .loan-result{
        min-height: inherit;
        }
    .map-canvas{
            
        height: 450px!important;
        }
    .text-top,.project-size{
            margin-top: 0px;
        }
    .contact-left,.contact-right
    {
        margin-top: 0px;
        float: none;
        width: 100%;	
        
    }
    .hide-w-res{
        display: none;
    }
    .w-60-res{
        width: 60%;
        padding: 0px;
        float: right;
    }
    .w-40-res{
        width: 30%;
        padding: 0px;
        float: left;
        margin-left: 5px;
    }
    .top-contain{
        width: 100%
    }
    .image-show-left{
            margin-top: 45px;
        }
    .project-logo{
            padding-right: 0px;
        }
        .footer-copyright p{
            text-align: left;
        }
    }
    
    /* Retina-ize images/icons */
    
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
        
        /* logo */
        .navbar-brand {
            //background-image: url(img/logo.png) !important;
            background-repeat: no-repeat !important; 
            background-size: 140px !important;
        }
        
    }
    